@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #eee;
}
body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
i {
  color: #45474b;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0 1% 0;
}
.logo img {
  width: 40px;
}
.statistics {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.stat {
  display: flex;
  flex-direction: column;
  width: 9.6em;
  height: 7.5em;
  margin: 0 2% 2% 2%;
  padding: 1% 1% 1% 1%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}
p {
  font-size: 13px;
  color: rgb(85, 81, 81);
  padding-bottom: 7px;
}
h4 {
  padding-bottom: 6px;
}
.active {
  border-bottom: #4473bc solid 6px;
}
.recovered {
  border-bottom: #93d900 solid 6px;
}
.deceased {
  border-bottom: #e32d2d solid 6px;
}
.vaccinated {
  border-bottom: #ec83ee solid 6px;
}
